.header {
  // position: fixed;
  // top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0;
  box-sizing: border-box;
  width: calc(100vw - 1rem);
  height: var(--header-height);
  background-color: transparent;
  font-size: 15px;
  left: 0;

  .logo {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 1rem;
  }

  .back {
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100vw;
    padding: 0.3rem 0.3rem 0;
  }
}
