.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  // padding-top: var(--header-height);

  // background: url('./landing-bg.jpg') no-repeat 0 0;

  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  img {
    width: 20rem;
    height: 18rem;
  }
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title,
.subTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
}

.title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.1;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans SC', 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', 'PingFang SC',
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.subTitle {
  font-size: 1.5rem;
  color: #a0aec0;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 5rem;
}
