.container {
  margin-top: 2rem;
  padding: 0 20px;
  height: 100%;

  p {
    font-size: 1rem;
    color: #fff;
  }
}
.tagList {
  display: flex;
  flex-wrap: wrap;
}

.promptList {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.promptContent {
  background-color: #242526;
  border-radius: 0.8rem;
  box-shadow: 0 5px 40px #0003;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover .overlay {
    height: 100%;
  }
}

.cardBody {
  padding-bottom: 0;
  max-height: 500px;
  overflow-y: auto;
  padding: 1rem;
}

.promptHeader {
  align-items: center;
  display: flex;

  button {
    min-width: 3rem !important;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.text {
  color: #f3f3f3;
  font-size: .8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.promptTitle {
  color: rgb(29, 147, 171);
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.25rem;
  flex: 1 1 auto;
  margin-bottom: 0;
}

.promptDetail {
  margin-bottom: 0;
  font-size: 0.7rem;
  line-height: 1.66;
}

.cardFoot {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 1rem;
}

.tag {
  align-items: center;
  border: 1px solid #a4a6a8;
  border-radius: 12px;
  cursor: default;
  display: inline-flex;
  font-size: 0.675rem;
  margin-bottom: 6px !important;
  margin-right: 6px;
}
